name: master_auto_js

on:
  push:
    branches:
      - master  # 触发 Actions 的分支

jobs:
  generate_and_commit:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Run makeMdForPlugins.js to generate files
      run: node makeMdForPlugins.js

    - name: Commit and push README.md if changed
      run: |
        # 查找 README.md 文件
        GENERATED_README_FILES=$(find . -maxdepth 1 -type f -name "README.md")
        
        if [ -n "$GENERATED_README_FILES" ]; then
          # 设置 Git 用户信息
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          # 添加文件到暂存区
          for file in $GENERATED_README_FILES; do
            git add "$file"
          done
          git add -u

          # 判断是否有变动
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "自动生成 README.md"
            git push origin master
            echo "✅ README.md has been committed and pushed"
          else
            echo "ℹ️ No changes to commit"
          fi
        else
          echo "⚠️ No README.md files found"
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}